* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-box {
    background-image: url(https://images.pexels.com/photos/5677703/pexels-photo-5677703.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}

.login {
    width: 33.33333%;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    outline: 0;
    background-color: #fff;
    margin: auto;
}

.login-header {
    padding: 16px;
    border-bottom: 1px solid #dee2e6;
}

.login-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 20px;
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.login-body {
    padding: 40px;
}

.login-form__label {
    font-family: 'Nunito Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.login-form__input {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 45px 6px 12px;
    margin-bottom: 8px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    outline: none;
}

.login-signup-btn {
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 6px 12px;
    border: 1px solid transparent;
    margin: 20px 0;
}

.login-signup {
    text-align: center;
}

.link-signup {
    text-decoration: none;
    color: #1A73E8;
}

.password-box {
    position: relative;
}

.eye {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
    padding: 10px;
}

.eye i {
    color: #707070;
}