/* detail main */
.detailmain {
    padding: 30px 0;
}

.detailmain h1 {
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 25px 0;
    line-height: 25px;
    font-family: 'Nunito Sans',sans-serif;
}

/* .detail_img {
    border-radius: 4px; 
    overflow: hidden; 
}
.video {
    border-radius: 5px; 
    overflow: hidden; 
} */

.detail-note {
    padding: 20px 0;
    /* border-bottom: 1px solid #dee2e6; */
}

.detail__note-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/* detail note */
.detail__note-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: self-end;
}

.detail__note-item {
    list-style: none;
    padding: 0 20px;
    font-size: 1.6rem;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.detail__note-item-border {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}

.detail__note-number {
    font-size: 2.3rem;
    color: #eb232a;
    font-weight: 600;
    line-height: 3.2rem;
    padding-right: 4px;
}


.detail__note-text {
    width: 40px;
    height: 40px;
    line-height: 2rem;
    margin: 0 0 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail__note-icon {
    color: #eb232a;
    font-size: 3rem;
}

.detail__note-icon:hover {
    background-color: rgba(235, 35, 42, 0.3);
    border-radius: 100px;
}
.detail__note-icon:focus {
    background-color: rgba(235, 35, 42, 0.3);
}

/* description */
.description {
    padding: 16px 0 24px 0;
    border-top: 1px solid #dee2e6;
}

.description__text {
    margin-top: 0;
    font-size: 1.6rem;
    color: #212529;
    line-height: 2.3rem;
    font-weight: 400;
}

/* rowmagin */
.rowmagin {
    margin-bottom: 16px 
}

/* title__detail */
.title__detail {
    color: #eb232a;
    margin: 0 0 8px 0;
    padding-bottom: 5px;
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    align-items: center;
}

.title__detail img {
    margin-right: 15px;
}

.nguyenlieu__detail-list {
    margin-top: 0;
    columns: 2;
    -webkit-columns: 2;
}

.nguyenlieu__detail-item {
    display: list-item;
    text-align: -webkit-match-parent;
}

.title__detail-icon {
    color: #28a745;
    font-size: 2rem;
    box-shadow: 1px 1px 1px #212529;
    margin-right: 8px;
}

/* favourite */
.favourite {
    min-height: calc(100vh - (70px + 195px));
    padding: 30px 0 20px 0;
}

.favourite-heading-tittle {
    margin: 8px 0 24px 0;
}

.favourite-heading-tittle h1 {
    font-size: 20px;
    margin: 0;
}

.fouvourite-storage {
    width: 175px;
    height: 36px;
    background-color: #EB232A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: var(--while-color);
}

.fouvourite-storage-icon {
    margin-left: 4px;
}